<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emailable</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://png.icons8.com/message/ios7/60/000000">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>Email</span>able <img src = "https://png.icons8.com/message-filled/ios7/60/000000"></h1>
    <div class="wrapper animated slideInDown">
      <div class="company-info">
        <h3>Jimmy Hsu</h3>
        <ul>
          <li><i class="fa fa-facebook-square" aria-hidden="true"></i> Jimmy Hsu</li>
          <li><i class="fa fa-globe" aria-hidden="true"></i> Hong Kong</li>
          <li><i class="fa fa-graduation-cap" aria-hidden="true"></i> City University of Hong Kong</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i> +85262188254</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i> jimmyhsu39@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3><a href="/">Email Again ?</a></h3>
        {{msg}}
      </div>
    </div>
  </div>
</body>
</html>
